<!doctype html>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
      var messages = {{ messages | safe }};
      for (var i=0; i<messages.length; i++) {
        alert(messages[i]);
      }
    </script>
  {% endif %}
{% endwith %}

<html lang="en" class="no-js">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<link rel="stylesheet" href="static/css/matchingtime_reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="static/css/matchingtime_style.css"> <!-- Resource style -->
	<link href="static/css/freelancer.min.css" rel="stylesheet">
	<script src="static/js/modernizr.js"></script> <!-- Modernizr -->

	<title>학교 별 식사 매칭 서비스</title>
</head>
<body id="page-top">
	<a class="cd-nav-trigger cd-text-replace" href="#primary-nav">Menu<span aria-hidden="true" class="cd-icon"></span></a>
	<div class="cd-projects-container">
		<ul class="cd-projects-previews">
			<li onClick="location.href='/preference'">
				<a href="#0">
					<div class="cd-project-title">
						<h2>점심시간 신청하기</h2>
            <h2>12:00 ~ 13:00</h2>
					</div>
				</a>
			</li>
			<li onClick="location.href='/preference'">
				<a href="#0">
					<div class="cd-project-title">
						<h2>저녁시간 신청하기</h2>
            <h2>18:00 ~ 19:00</h2>
					</div>
				</a>
			</li>
		</ul> <!-- .cd-projects-previews -->

		<ul class="cd-projects">
			<li>
				<div class="preview-image">
					<!-- <div class="cd-project-title">
            <input type="button" id="lunch" value="신청하기 ! " onClick="location.href='preference.html'">
					</div> -->
				</div>
			</li>
			<li>
				<div class="preview-image">
					<!-- <div class="cd-project-title">
            <input type="button" id="dinner" value="신청하기 ! " onClick="location.href='preference.html'">
					</div> -->
				</div>
			</li>
		</ul> <!-- .cd-projects -->

		<button class="scroll cd-text-replace">Scroll</button>
	</div> <!-- .cd-project-container -->

	<nav class="cd-primary-nav" id="primary-nav">
		<ul>
			<li class="cd-label">혼밥 매칭 서비스</li>
			<li><a href="/user/logout">로그아웃</a></li>
      <li><a href="/user/delete">회원탈퇴</a></li>
		</ul>
	</nav> <!-- .cd-primary-nav -->
<script src="static/js/jquery-2.1.1.js"></script>
<script src="static/js/slider.js"></script>
<script src="static/js/materialize.js"></script>
<script src="static/js/materialize.min.js"></script>
<script src="static/js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>
