<!DOCTYPE html>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
      var messages = {{ messages | safe }};
      for (var i=0; i<messages.length; i++) {
        alert(messages[i]);
      }
    </script>
  {% endif %}
{% endwith %}

<head>
  <link href="static/css/regist.css" rel="stylesheet" type="text/css">
  <link href="static/css/materialize.css" rel="stylesheet" type="text/css">
  <link href="static/css/materialize.min.css" rel="stylesheet" type="text/css">

</head>
<title>혼밥 매칭 회원가입</title>

<body>
  <div id="regist-page" class="row">
    <div class="col s12 z-depth-4 card-panel">
      <form class="login-form" action="/user/register" method="POST">
        <div class="row">
          <div class="input-field col s12 center">
            <h1>회원가입</h1>
            <h2 class="center">혼밥 매칭 가입페이지</h2>
          </div>
        </div>

        <div class="row margin">
          <div class="input-field col s12">
            <!-- <i class="mdi-social-person-outline prefix"></i> -->
            <i class="material-icons prefix">
              <img src="static/img/school.png" width="45" height="40">
            </i>
            <input id="university" name="university" type="text" style="cursor: auto;" />
            <label for="university">University</label>
            </select>
          </div>
        </div>

        <div class="row margin">
          <div class="input-field col s12">
            <!-- <i class="mdi-social-person-outline prefix"></i> -->
            <i class="material-icons prefix">
              <img src="static/img/mobile.png" width="45" height="45">
            </i>
            <input id="mobile" name="mobile" type="text" />
            <label for="mobile">Phone Number</label>
          </div>
        </div>

        <div class="row margin">
          <div class="input-field col s12">
            <!-- <i class="mdi-social-person-outline prefix"></i> -->
            <i class="material-icons prefix">
		          <img src="static/img/user.png" width="45" height="45">
            </i>
            <input id="username" name="username" type="text" />
            <label for="username">Username</label>
          </div>
        </div>

        <div class="row margin">
          <div class="input-field col s12">
            <!-- <i class="mdi-action-lock-outline prefix"></i> -->
            <i class="material-icons prefix">
              <img src="static/img/lock.png" width="45" height="45">
            </i>
            <input id="password" name="password" type="password" />
            <label for="password">Password</label>
          </div>
        </div>

        <div class="row margin">
          <div class="input-field col s12">
            <!-- <i class="mdi-action-lock-outline prefix"></i> -->
            <i class="material-icons prefix">
              <img src="static/img/lock.png" width="45" height="45">
            </i>
            <input id="password_a" name="cpassword" type="password" />
            <label for="password_a">Password again</label>
          </div>
        </div>

        <div class="row margin">
          <div class="input-field col s12">
            <!-- <i class="mdi-social-person-outline prefix"></i> -->

            <div class="filled-in">
              <label>
                <input type="radio" name="gender" checked="checked" value="male" />
                <span>Male</span>
              </label>
              <label>
                <input type="radio" name="gender" value="Female" />
                <span>Female</span>
              </label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <button class="btn waves-effect waves-light col s12" type="submit" name="action">회원가입</button>
          </div>
          <div class="input-field col s12">
            <p class="margin center medium-small sign-up">이미 가입하셨나요 ? <a href="/">Login</a></p>
          </div>
        </div>

      </form>
    </div>
  </div>

  <script src="static/js/jquery-3.3.1.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
  <script src="static/js/regist.js"></script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/materialize.min.js"></script>
  <!-- <script src="static/js/select.js"></script> -->

</body>
